body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#name{
  color: red;
  font-size:20px;
}

#logout{
	position:absolute;
	right:95px;
}

#manger{
	position:absolute;
	right:145px;
}

#showonline{
	position:absolute;
	width: 300px;
	top: 130px;
}

#chatmessage{
	text-align:center;
	position:absolute;
	right: 380px;
	left: 360px;
	top: 130px;
	bottom: 180px;
}
#showuser{
	position:absolute;
	width: 300px;
	left: 50px;
	top: 180px;
	bottom: 80px;
}

#myinfo{
	position:absolute;
	top: 130px;
	width: 300px;
	right: 50px;
	bottom: 80px;
}

#inputmessage{
	position:absolute;
	right: 460px;
	left: 360px;
	bottom: 80px;
	
}
#chatmessage{
	overflow: auto;
}
#showuser{
	overflow: auto;
}

/*  */

.tab_tit{
	height:56px;
	border-bottom: 1px solid #ddd;
}

